* {
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Mountains of Christmas";
  src: url("fonts/MountainsOfChristmas-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Mountains of Christmas";
  src: url("fonts/MountainsOfChristmas-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  font-family: "Mountains of Christmas", cursive;
}

canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  background-color: black;
}

h1 {
  padding: 40px 0;
}

#background-image {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-image: url("img/5_background/bg-image_loco.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.66;
}

#start-screen {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
  display: flex;
  flex-direction: column;
  z-index: 10; /* Ensure it's on top */
}

#startScreen-img {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100vw;
  height: 90%;
  position: absolute;
  z-index: 1;
}

#game-canvas {
  position: absolute;
  z-index: 5; /* Below the start screen */
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #ffb347 0%,
    #ffcc33 51%,
    #ffb347 100%
  );
}
.btn-grad {
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;

  display: block;
  cursor: pointer;

  position: absolute;
  top: 100%;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.buttons {
  position: relative;
  z-index: 2; /* Ensure buttons are above the image */
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#mute-button {
  position: fixed;
  top: 70px;
  right: 20px;
  border-radius: 50%;
  z-index: 2;
  width: 48px;
  height: 48px;
}

#mute {
  height: 32px !important;
  width: 32px !important;
}

#learn-button {
  position: fixed;
  top: 70px;
  left: 30px;
  width: 200px;
  height: 50px;
  font-family: "Mountains of Christmas", cursive;
  font-size: 24px;
  font-weight: bold;
}

#start-button {
  position: fixed;
  top: 70px;
  width: 200px;
  height: 50px;
  font-family: "Mountains of Christmas", cursive;
  font-size: 24px;
  font-weight: bold;
}
