* {
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Mountains of Christmas";
  src: url("fonts/MountainsofChristmas-Regular.woff2") format("woff2"),
    url("fonts/MountainsofChristmas-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mountains of Christmas";
  src: url("fonts/MountainsofChristmas-Bold.woff2") format("woff2"),
    url("fonts/MountainsofChristmas-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  font-family: "Mountains of Christmas", "Comic Sans MS", "Brush Script MT",
    cursive;
}

canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  background-color: black;
}

h1 {
  font-family: "Mountains of Christmas", cursive;
  font-size: 5rem;
  padding: 0px;
  font-weight: bold;
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

#background-image {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100vw;
  height: 100dvh;
  background-image: url("img/icons_bg/bg-img_loco.png");
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 1;
  pointer-events: none;
}

#background-image button {
  pointer-events: auto;
}

#background-image h1 {
  color: white;
  padding-top: 60px;
}

#start-screen {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.startscreen-wrapper {
  position: relative;
  max-width: 100%;
  aspect-ratio: 16/9;
  background-color: black;
}

#startScreen-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #ffb347 0%,
    #ffcc33 51%,
    #ffb347 100%
  );
}
.btn-grad {
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;

  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.buttons {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  max-width: 800px;
  z-index: 2;
}

#mute-button {
  border-radius: 50%;
  z-index: 2;
  width: 48px;
  height: 48px;
  margin-top: 1rem;
}

#muteStartScreen {
  height: 32px !important;
  width: 32px !important;
}

#learn-button {
  width: 200px;
  height: 50px;
  font-family: "Mountains of Christmas", cursive;
  font-size: 24px;
  font-weight: bold;
  margin-top: 1rem;
}

#start-button {
  width: 200px;
  height: 50px;
  font-family: "Mountains of Christmas", cursive;
  font-size: 24px;
  font-weight: bold;
  margin-top: 1rem;
}

#impressum-button {
  width: 200px;
  height: 50px;
  font-family: "Mountains of Christmas", cursive;
  font-size: 24px;
  font-weight: bold;
  margin-top: 1rem;
}

#pause-btn,
#mute-btn,
#resume-btn,
#sound-btn {
  all: unset;
  cursor: pointer;
}

#btn-container-bg {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  height: 50px;
  width: 720px;
}

#sound-btn {
  filter: invert(1);
}

#sound-btn img {
  width: 38px;
  height: 38px;
}

#resume-btn img {
  width: 48px;
  height: 48px;
  cursor: pointer;
  filter: invert(1);
}

#pause-btn img,
#mute-btn img {
  cursor: pointer;
  width: 40px;
  height: 40px;
  filter: invert(1);
}

#pause-btn:hover,
#mute-btn:hover,
#resume-btn:hover,
#sound-btn:hover {
  transform: scale(1.2); /* Button wird um 20% größer */
}

#game-over-screen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 720px;
  height: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.6s ease-in;
  z-index: 0;
}

#game-over-screen.visible {
  opacity: 1;
}

.game-over-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 350px;
  width: 400px;
  gap: 3rem;
}

.hidden {
  display: none;
}

#game-over-background {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 720px;
  height: 480px;
}

#game-over-image {
  z-index: 1001;
  width: 300px;
  height: auto;
}

#restart-btn {
  position: unset;
  width: 200px;
  height: 50px;
  font-family: "Mountains of Christmas", cursive;
  font-size: 24px;
  font-weight: bold;
  z-index: 1001;
}

#rotate-device-overlay {
  display: none;
}

#mobile-controls {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 4;
  pointer-events: none;
}

#mobile-controls button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px; /* icon size */
  width: 40px; /* smaller but still tap-friendly */
  height: 40px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  pointer-events: all;
  padding: 0;
  margin: 6px
}

.control-left,
.control-right {
  position: absolute;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.control-left {
  left: 20px;
}

.control-right {
  right: 20px;
}

.control-top {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
